OnePlus7TProOxygen_14.I.07_OTA_007_all_1910120136_39ea2.zip
product/priv-app/Settings/Settings.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
system/system/app/OPWallpaperResources/OPWallpaperResources.apk
